/* ===== HERO ===== */
.hero {
  min-height: 85vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 1rem;
  color: var(--text-color, white);
  position: relative;
  z-index: 1;
  border-radius: var(--card-radius);
  font-family: var(--title-font);
}

.hero::before {
  content: "";
  position: absolute;
  top: 50%; /* control vertical position */
  left: 50%; /* control horizontal position */
  transform: translate(-50%, -50%); /* center the backdrop */
  width: 80%; /* control backdrop width */
  height: 70%; /* control backdrop height */
  z-index: 0;
  border-radius: var(--card-radius);
  pointer-events: none;
  background: rgba(255, 255, 255, 0.25); /* translucent white */
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(5px);
  box-shadow: 0 4px 30px rgba(255, 255, 255, 0.1);
}


.hero-text {
  position: relative;
  animation: heroPopIn 0.5s ease-in-out forwards;
  color: #1d1d1f;
  max-width: 650px;
  padding: 0 1rem;
  user-select: none;
}

.hero-text h2 {
  font-size: 2.8rem;
  font-weight: 700;
  color: white;
  margin-bottom: 2rem;
  text-shadow: none;
  letter-spacing: -0.02em;
  line-height: 1.1;
}

.hero-buttons {
  position: relative;
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
  opacity: 0;
  animation: heroPopIn 1s ease-out 0.5s forwards;
}

.hero-buttons .btn {
  background: #ef890c;
  color: white;
  padding: 0.7rem 1.6rem;
  border-radius: 22px;
  font-weight: 600;
  letter-spacing: 0.015em;
  text-decoration: none;
  transition: background-color 0.3s ease, transform 0.3s ease;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  font-family: var(--main-font);
  user-select: none;
  box-shadow: 0 6px 12px rgba(206, 120, 7, 0.35);
}

.hero-buttons .btn:hover,
.hero-buttons .btn:focus {
  background-color: #8b4504;
  outline: none;
  transform: translateY(-3px);
}

@keyframes heroPopIn {
  0% {
    opacity: 0;
    transform: scale(0.97) translateY(20px);
  }
  100% {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .hero-text h2 {
    font-size: 2rem;
  }
  .hero-buttons {
    flex-direction: column;
    align-items: center;
  }
  .hero-buttons .btn {
    width: 50%;
    text-align: center;
    font-size: 1.05rem;
  }
}
